# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter/Colab
.ipynb_checkpoints/

# VSCode
.vscode/

# Virtual environments
venv/
env/
.venv/

# OS junk
.DS_Store

# Logs
*.log

# Simulation output
state_values.csv